//	Variables
//--------------------------------------*/

// Define Colors
$ucla-blue:				#347bad;
$cyan:					#3399cc;
$cyan-blue:				#2e74d0;
$white:					white(0.98);

// Define Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$cyan-blue;
$primary-light:			tint($primary, 30%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$cyan;
$secondary-light: 		tint($secondary, 30% );
$secondary-dark: 		darken($secondary, 13% );

// Text Colors
$text-color:				rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$header-link-color:		rgba(black, .6);
$link-color:				$primary;
$link-hover-color:		$primary-dark;
$link-visited-color:		$primary-dark;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary-light;
$background-color:		$primary-light;
$btn-color:				$secondary;
$btn-hover-color:		$secondary-dark;
$bullet-point:			$secondary;
$bg-light-color:			rgba(black, .03);
$bg-dark-color:			rgba(black, .06);

//	Numbers
//--------------------------------------*/

// Set height of hero on homepage
$home-hero-height: 		660px;

// Global border radius
$radius:				15px;

// Site width
$site-width:			940px;