/*	Button Styles
/*--------------------------------------*/

// Button Defaults

%btn {
	background-color: $btn-color;
	border-radius: 0;
	color: $white!important;
	font-size: 1.15em;
	padding: 10px 0;
	margin-bottom: 10px;
	font-weight: bold;
	letter-spacing: 0;
	min-width: 220px;
	display: inline-block;
	text-align: center;
	border: none;
	cursor: pointer;
	position: relative;
	@include transition(background-color 0.24s ease-in-out);

	&:hover, &:focus {
		background-color: $btn-hover-color;
		color: $white;
	}
	&:active {
	  top: 1px;
	}
}

// Button Styles 

.btn, .em-search-wrapper button, input[type="submit"], .page .btn, .single .btn, .all-events-link a {
	@extend %btn;
}
.give {
	background: $btn-color url('../images/heart-icon.png') no-repeat 11px center;
	padding-left: 30px;
	margin: 0 auto;
	text-align: left;
	min-width: 90px;
}