/* ==========================================================================
	Mobile Screen Sizes
	
	Table of Contents
	
	1. Main Containers
	2. Header
	3. Navigation
	4. Footer
	5. Homepage
	6. Slider
	7. People Archive
	8. Person Page
	9. Books
	10. Events
	11. Forms
	12. Typography
	13. Other
	14. Posts & Content Styles
	15. Pagination
   
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	font-size: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
.content, header {
	margin: 0 auto;
	float: none;
	width: 100%;
}
.col, #main-content .content {
	width: 95%!important;
	margin: 0 auto;
	float: none;
}
#main-content {
	margin-bottom: 30px;
}
#hero {
	display: none;
}

/*	2. Header
/*--------------------------------------*/

// Hide unneccessary things
//header .university-logo, 
.give-back, header .search-form {
	display: none!important;
}

header {
	padding: 10px 0 10px 0;
	
	&.top {
		border-bottom: 50px solid $secondary;
		
		// For retina, upload image 2x larger and resize here
		.dept-logo {
			//width: 100%;
			height: auto;
			//text-align: center;
			
			img {
				//width: 95%;
			}
		}
		.university-logo {
			float: none;
			width: 90px;
			vertical-align: top;
		}
		nav {
			float: none;
		}
	}
	.logos { 
		width: 100%;
		display: block;
		margin: 0;
		text-align: center
	}
}
.home header {
	border-bottom: none;
}
.breadcrumbs {
	margin-bottom: 20px;
	
	.content {
		width: 95%;
	}
}

/*	3. Navigation
/*--------------------------------------*/

header nav.desktop {
	display: none;
}
body {
	#mg-wprm-wrap {
		border-right: 1px solid #eee;
		background-color: white!important;
		@include vendor-prefix('box-shadow', '18px 0px 7px -3px rgba(0,0,0,0.17)');
	}
}
#wprmenu_bar {
	background-color: $secondary!important;
	
	.menu_title a {
		color: $white!important;
		text-decoration: none;
		top: 0;
	}
}
div#mg-wprm-wrap {
	ul li {
		list-style: none;
		padding-left: 0;
		margin: 0;
		
		& + li {
			border-top: 1px solid $border-color!important;
		}
	}
	ul li span.wprmenu_icon::before {
		color: $text-color;
	}
	ul li a {
		color: $text-color;
		
		&:hover {
			color: $link-color!important;
		}
	}
	ul.sub-menu {
		padding-bottom: 10px!important;
	}
	li.menu-item ul.sub-menu li.menu-item a {
		padding: 10px 15px;
	}
}
#wprmenu_menu input[type="search"] {
	background-image: none;
	border-radius: 20px;
	font-size: 1em;
	padding: 5px 40px 5px 10px!important;
}

/* Secondary Navigaion */
.col.side .content {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.col.side.feed {
	width: 95%!important;
	margin: 0 auto;
}
.col + .col {
	width: 100%!important;
	margin: 0 auto;
	
	nav.page-nav {
		h3 {
			border-bottom: none;
			margin-bottom: 0;
			margin-left: 10px;
		}
		a {
			border-top: 1px solid $border-color;
			padding: 10px;
			display: block;
		}
		a:hover {
			background-color: $bg-light-color;
		}
		li {
			margin: 0;
		}
	}
}
.nav-container {
	display: none;
}
.mobile-menu {
	display: block;
	width: 100%!important;
	max-width: 100%!important;
	
	.page-nav {
		h3 {
			border-bottom: none;
			margin: 0 0 0 10px;
			color: $text-color;
			background: none;
			text-transform: none;
			font-size: 1.5em;
			font-weight: 500;
			padding: 0;
		}
		ul {
			padding: 0;
			margin: 0;
			display: block;
			background: none;
		}
		li {
			margin: 0;
			display: block;
		}
		a {
			display: block;
			padding: 10px;
			font-size: 1em;
			border-top: 1px solid $border-color;
			color: $link-color;
		}
		a:hover {
			border-bottom: none;
			background-color: $bg-light-color;
		}
		.current_page_item a {
			border-bottom: 3px solid white;
			font-weight: bold;
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling side menu on larger screens
	.single, .archive, .page {
		.breadcrumbs + .content {
			width: 95%;
		}
		.col {
			max-width: 65%;
			float: left;
			margin: 0 15px 0 0;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col.side {
			width: 220px!important;
			margin: 0 0 0 20px!important;
			float: right;	
		}
		.col.side.feed {
			width: 220px!important;
			margin: 0 auto;
		}
	}
	.post-type-archive-tribe_events .col {
		width: 100%!important;
		max-width: 100%;
		margin: 0 auto;
	}
	
	// Make second column look like desktop version
	.col + .col {		
		nav.page-nav {
			h3 {
				padding-bottom: 10px;
				margin: 0 0 20px 0;
				border-bottom: 2px solid $border-color;
			}
			a {
				border-top: none;
				padding: 0;
				display: block;
			}
			a:hover {
				background: none;
			}
		}
	}
}

/*	4. Footer
/*--------------------------------------*/

footer {
	margin-top: 0px;
	
	nav {
		display: none;
		
		.footer-nav {
			display: none;
		}
		.icon {
			margin: 0 3px;
			font-size: 2.1em;
		}
	}
	.mobile-social-nav {
		display: block;
		margin: 10px 0;
		
		.social-links {
			clear: both;
			float: none;
			width: 100%;
			text-align: center;
		}
	}
	.copyright {
		padding-top: 10px;
		width: 95%;
		margin: 0 auto;
		text-align: center;
		
		p {
			width: 100%;
			margin: 0;
			float: none;
		}
		.university-logo {
			float: none;
			margin-top: 50px;
		}
		.street-address, .tel, .fax, .email {
			display: inline-block;
		}
		
		@media only screen and (max-width: 600px) {
			.street-address, .tel, .fax, .email {
				display: block;
			}
			.value, .locality, .postal-code {
				display: inline;
			}
			.divider {
				display: none;
			}
		}
	}
	.search-form {
		width: 301px;
		margin: 0 auto 20px auto;
		display: block;
		
		.search-btn {
			top: -1px;
			right: 15px;
			
			&:active {
				top: 1px;
			}
		}
	}
	input[type="search"] {
		margin: 0 auto;
		color: $text-color;
		width: 100%;
		max-width: 280px;
		background: white;
		display: block;
	}
}

/*	5. Homepage
/*--------------------------------------*/

.home {
	#hero {
		display: block;
		height: 400px;
		margin: 0 0 40px 0;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
		
		.content {
			width: 100%!important;
			height: 400px;
			@include vendor-prefix('box-shadow', 'none');
		}
		.hero-description {
			width: 95%;
			padding: 0 0 30px 0;
			left: 0;
			right: 0;
			
			h2 {
				font-size: 2em;
				line-height: 1.1em;
			}
			p {
				font-size: 1em;
			}
		}
	}
}
.home .col {
	width: 100%!important;
	float: left;
	margin: 0 auto 30px auto;
	
	ul, ol {
		float: left;
		clear: both;
		width: 100%;
		margin: 0;
	}
	&.news-col, &.events-col {
		li {
			padding: 0;
			margin: 0;
			clear: both;
			list-style: none;
		}
		.item {
			float: none;
			width: 100%;
		}
		.btn {
			margin-left: 0;
			margin-top: -5px;
		}
		img {
			margin-right: 2%;
			width: 15%;
		}
		&.two {
			.item {
				width: auto;
			}
			.btn {
				margin-left: 0;
			}
			.images .item {
				float: left;
				width: 83%;
			}
			.images + .btn {
				margin-left: 17%;
			}
		}
		&.three {
			.images .item {
				float: left;
				width: 83%;
			}
			.images + .btn {
				margin-left: 17%;
			}
		}	
		.images {
			img {
				width: 20%;
				margin-right: 2%;
			}
			a + .item, img + .item {
				width: 78%;
			}
		}
		@media only screen and (max-width: 500px) {
			img {
				display: none;
			}
			&.two {
				.images .item {
					float: left;
					width: 100%;
				}
				.images + .btn {
					margin-left: 0;
				}
			}
			&.three {
				.images .item {
					float: left;
					width: 100%;
				}
				.images + .btn {
					margin-left: 0;
				}
			}
			.images {
				a + .item, img + .item {
					width: 100%;
				}
			}
		}
	}
	p, span.description {
		padding: 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.events-col {
		li {
			width: 100%;
		}
	}
	.widget_em_widget {
		li {
			float: none;
		}
		.event-details  {
			width: 85%;
		}
		.day-month {
			width: 10%;
		}
		.day {
			font-size: 2.5em;
			line-height: 1em;
		}
		.all-events-link {
			text-align: center;
			padding-left: 0;
		}
	}
}
.home .col + .col {
	width: 100%!important;
	margin: 0 auto 30px auto;
	background-color: white;
	padding: 0;

	li {
		padding: 0;
		border: none;
		width: 100%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 530px) {
	.home .col .widget_em_widget {
		
		.event-details  {
			width: 80%;
		}
		.day-month {
			width: 13%;
		}
		.day {
			font-size: 2em;
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 799px) {
	// Customizing homepage on large mobile
	.home .col {
		width: 100%!important;
		
		ul, ol {
			width: 100%!important;
			float: left;
			margin-bottom: 0;
		}
		ol {
			margin-bottom: 5px;
		}
		img {
			display: block;
			float: left;
			clear: left;
			width: 20%;
			height: auto;
		}
		li {
			padding: 0 0 0 0;
			margin: 0 0 15px 0;
			clear: both;
			float: left;
			// check it
			.item {
				float: left;
				width: 75%;
				clear: right;
			}
		}
		& .btn {
			clear: both;
		}
		&.events-col {
			margin-bottom: 30px!important;
		}
		span.description {
			margin-bottom: 0;
		}
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Make homepage columns side by side
	.home {
		.col {
			width: 100%!important;
			max-width: 100%!important;
			float: left;
			margin: 0;
			
			span.description {
				margin-bottom: 20px;
			}
		}
		.col + .col {
			width: 100%!important;
			float: left;
			margin: 30px 0 0 0;
		}
		#main-content .content {
			max-width: 100%!important;
			margin: 0 auto!important;
			float: none!important;
		}
	}
}

/*	6. Slider
/*--------------------------------------*/

.bx-wrapper {
	height: 400px!important;
	width: 100%;
}
#slider {
	margin-top: 0;
	
	.hero-description {
		width: 75%!important;
		padding: 0 0 30px 0;
		left: 0;
		right: 0;
		
		h2 {
			font-size: 2em;
			line-height: 1.1em;
		}
		p {
			font-size: 1em;
		}
		.content {
			width: 100%!important;
		}
	}
}
#slider {
	width: 100%;
		
	li, .bg {
		height: 400px;
	}
}

/* Direction Controls (Next / Prev) */
.bx-wrapper {
	.bx-prev {
		left: 10px;
		background: url(../images/mobile-arrow-left.png) no-repeat;
	}
	.bx-next {
		right: 10px;
		background: url(../images/mobile-arrow-right.png) no-repeat;
	}
	.bx-controls-direction a {
		width: 23px;
		height: 40px;
	}
}

/* Pager */
.bx-pager {
	float: right;
}

/*	7. People Archive
/*--------------------------------------*/

.page-template-page-people-listing .main header {
	width: 95%;
	margin: 0 auto;
}

/* Filters */
.filter, .filter-title {
	display: none;
}
.archive .content header {
	text-align: left;
	width: 95%;
	margin: 0 auto;
}
.dropdown-filter {
	display: block;
	width: 95%;
	margin: 20px auto;
	
	select {
		max-width: 100%;
	}
}

/* People List */
.people-list {
	margin: 20px auto 0 auto;
	padding: 0;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
	}
}
.people-list .person-item {
	float: none!important;
	padding: 15px 0;
	width: 100%;
	height: auto;
	text-align: left;
	margin: 0;

	.photo {
		float: left;
		margin: 0 15px;
	}
	dl {
		min-height: 107px;
		padding-top: 10px;
		margin-right: 10px;
		float: left;
	}
	/*dl {
		margin-left: 15px;
	}*/
}

@media only screen and (max-width: 460px) {
	.people-list .person-item {
		text-align: center;
		.photo {
			float: none;
		}
		dl {
			clear: both;
			width: 100%;
		}
	}
}

/*	8. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: block;
		}
		span + span {
			margin-left: 0;
		}
		p {
			margin-top: 0px;
		}
	}
	article header {
		text-align: center;
		
		img {
			display: block;
		}
		h1 {
			margin-bottom: 15px;
		}
	}
	.col + .col {
		margin-top: 0;
		width: 95%!important;
		
		img {
			display: none;
		}
		.table-of-contents {
			display: none;
		}
	}
	.photo {
		margin: 0 auto 25px auto;
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling right column on People page
	.single-people {
		article header {
			text-align: left;
			
			img {
				display: none;
			}
		}
		.col {
			max-width: 65%;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col + .col {
			margin-top: 0;
			width: 220px!important;
			float: right;
			
			img {
				display: block;
				width: 90%;
				height: auto;
			}
			.table-of-contents {
				display: block;
			}
		}
	}
}

/*	9. Books
/*--------------------------------------*/

/* People Page */
.single-people .book-list {
	float: none;
	
	img, .custom-cover {
		float: left;
		margin-right: 15px;
	}
	li {
		float: left;
		width: 100%;
		display: block;
	}
	dl {
		margin-left: 15px;
		float: none;
		clear: none;
		width: auto;
	}
	dt.title {
		font-size: 1em;
	}
	dd.subtitle {
		font-size: .85em;
	}
}

/* Book Page */
.single-books {
	.content header {
		.cover {
			display: block;
			margin: 15px auto;
			width: 190px;
			height: auto;
		}
		.custom-cover.cover {
			width: 160px;
			height: 205px;
		}
		.custom-cover .title {
			font-size: 1.2em;
			line-height: 1em;
			text-align: center;
		}
	}
	.col + .col {
		.cover {
			display: none;
		}
	}
	.author {
		margin: 0 0 15px 0;
	}
}
@media only screen and (max-width: 460px) {
	.post-type-archive-books .book-list ul {
		text-align: center;
	}
}


/*	10. Events
/*--------------------------------------*/

.events-col {
	li {
		float: none;
	}
	h2 {
		font-size: 1.6em;
	}
	.event-details  {
		width: 85%;
	}
	.day-month {
		width: 10%;
	}
	.day {
		font-size: 2.5em;
		line-height: 1em;
	}
}
@media only screen and (min-width: 320px) and (max-width: 530px) {
	.events-col {
		.event-details  {
			width: 80%;
		}
		.day-month {
			width: 13%;
		}
		.day {
			font-size: 2em;
		}
	}
}

/*	11. Forms
/*--------------------------------------*/

article form {
	margin-bottom: 40px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	padding: 0 10px;
	width: 93%;
	max-width: 500px;
}
textarea {
	width: 94%;
}
select {
	width: 100%;
	max-width: 525px;
}

/*	12. Typography
/*--------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
}
.home .col h3, .col + .col h3 {
	font-size: 1.35em;
}
p {
	clear: both;
}
blockquote {
	padding: 1px 22px 1px 22px;
	font-size: 1.2em;
	margin: 30px 0;
}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

/*	13. Other
/*--------------------------------------*/

.alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image { 
	float: none;
	margin: 0 auto;
	height: auto;
	max-width: 100%;
}
.wp-caption {
	max-width: 100%;

	img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
	}
}
.gallery {
	
	.gallery-item {
		margin: 10px;
		width: 100px;
	}
	.gallery-icon {
		min-height: 120px;
	}
	br {
		display: none;
	}
}
.color-block {
	margin: 1px;
}
.fixclear:after { 
   overflow: auto;
}
@media only screen and (max-width: 480px) {
	.gv-widget-search .gv-search-box.gv-search-box-submit {
		justify-content: flex-start;
	}
}


/*	14. Posts & Content Styles
/*--------------------------------------*/

article header {
	padding: 0;
}
.entry-content {
	table {
		margin-bottom: 1.5em;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
}

/*	15. Pagination
/*--------------------------------------*/

.pagination, .wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
	}
	li {
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
	}
	a, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		
		&:hover, &:focus {
			background-color: $secondary;
			color: $white;
		}
	}
	.current{
		cursor: default;
		color: $text-color;
	
		&:hover, &:focus {
			background-color: white;
			color: $text-color;
		}
	}
}
.wp-prev-next {
	.prev-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}