/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1.  Main Containers
	2.  Header
	3.  Navigation
	4.  Footer
	5.  Homepage
	6.  Person Page
	7.  People Archive
	8.  Event Archive
	9.  Books
	10. Articles/Posts
	11. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	margin: 0;
	background-color: white;
}
#container {
	@extend %clearfix;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 28px 0 30px 20px;
}
/*.col.full  {
	width: 940px;
}*/
.page-template-page-full {
	overflow-x: auto;
	
	.content {
		width: 100%;
	}
	.col {
		width: 100%;
	}
	article {
		padding: 0 20px;
	}
}
#main-content {
	margin: 0 auto; 
	float: none;
}

/*	2. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		text-align: center;
		
		.dept-logo { 
			width: 219px;
			display: inline-block;
			margin: 0;
			text-align: left;
			
			// For retina, upload image 2x larger and resize here
			img {
				width: 219px;
				height: auto;
			}
		}
		h1.logo-text {
		    font-weight: 600;
		    text-transform: uppercase;
		    margin-top: 15px;
		    font-size: 3.2em;
		    color: $text-color;
		}
	}
	.logos {
		float: left;
	}
	nav {
		clear: right;
		float: right;
		padding: 3px 0 20px 0;
	}
	nav ul {
		width: 620px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support {
			font-size: .8em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin: 5px 7px 0 0;
		
		// For retina, upload image 2x larger and resize here
		width: 82px;
		height: auto;
	}
}
.breadcrumbs {
	background: none;
	width: 100%;
	float: left;
	clear: both;
	color: $text-color;
	font-size: .9em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	img {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
	}
	li {
		float: left;
		display: inline-block;
		padding: 0 0 0px 10px;
		margin: 0;
	}
	li + li {
		margin: 0 0 0 5px;
		background: url('../images/arrow.png') no-repeat left center;
	}
	a {
		font-weight: bold;
		color: $link-color;
		text-decoration: underline;
	}
}

/*	3. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 9px 0 0;
	}
}
header nav.desktop ul {
	text-align: right;
	
	li {
		position: relative;
		padding: 15px 0;
	}
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		text-align: left;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 40px;
		border-top: 4px solid $primary-light;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
		padding: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			font-family: "Font Awesome 5 Free";
			content: "\f0d7";
			color: rgba(black, .6);
			padding-left: 3px;
		}
	}
	ul li.menu-item-has-children ul.sub-menu a {
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	.clark {
		border-left: 1px solid $border-color;
		
		a {
			background: url('../images/owl-icon.png') no-repeat 13px center;
			padding-left: 30px;
		}
	}
	.giving a:before {
		font-family: "Font Awesome 5 Free";
		content: "\f004";
		color: $secondary;
		padding-right: 3px;
		font-size: .9em;
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .95em;
	}
	a, a:link {
		color: $header-link-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}
 
/* Secondary Menu */
.nav-container {
	background: $secondary;
	height: 50px;
	float: left;
	width: 100%;
	z-index: 9999;
	clear: both;
	@extend %clearfix;
}
.page-nav {
	ul {
		padding: 0 0 0 20px;
		margin: 0;
		display: inline-block;
		background: url('../images/carrot.png') no-repeat left center;
	}
	li {
		list-style: none;
		margin-left: 0;
		display: inline-block;
	}
	a {
		color: $white;
		padding: 5px;
		font-size: .95em;
		text-decoration: none;
		font-weight: bold;
	}
	a:hover {
		border-bottom: 3px solid white;
	}
	.current_page_item a {
		border-bottom: 3px solid white;
		font-weight: bold;
	}
}
.mobile-menu {
	display: none;
}

/*	4. Footer
/*--------------------------------------*/

footer {
	background-color: $secondary-dark;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		.footer-nav {
			clear: left;
			float: left;
		}
		.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
		li {
			padding: 0;
		}
		.giving a:before {
			font-family: "Font Awesome 5 Free";
			content: "\f004";
			color: $white;
			padding-right: 3px;
			font-size: .9em;
		}
	}
	// Hiding and only showing on mobile
	.search-form, .mobile-social-nav {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo {
			float: left;
			margin-top: 5px;
			display: block;
			
			img {
				width: 100px;
				height: auto;
			}
		}
		p {
			float: right;
			margin: 0;
			width: 87%;
		}
		.divider {
			margin: 0 5px;
		}
		.about-dept, .adr, .hours, .uc-copy {
			display: block;
		}
		.hours {
			margin-bottom: 10px;
		}
		a, a:link, a:visited {
			color: $white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	5. Homepage
/*--------------------------------------*/

.home {
	#hero {
		height: $home-hero-height;
		margin: 0 0 40px 0;
		border-bottom: 4px solid #ccc;
		
		.content {
			width: 100%;
			height: $home-hero-height;
			position: relative;
			
			&.text {
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
			}
		}
		.hero-description .content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
	}
	.hero-description {
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		h2 {
			font-size: 4em;
			max-width: $site-width;
			margin: 0 auto;
			font-weight: 600;
		}
		p {
			font-size: 1.5em;
			max-width: 700px;
			margin: 0 auto;
		}
		.outline {
			margin-top: 35px;
			min-width: 106px;
		}
		.btn {
			border: 2px solid white;
			margin-top: 50px;
		}
		.left {
			text-align: left;
			
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			button {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
	}
}

.home .col {
	float: left;
	
	ul, ol {
		margin: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		@extend %clearfix;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		font-weight: normal;
		color: $text-color;
		display: block;
		font-size: .93em;
		line-height: 1.6em;
	}
	span.description {
		margin-bottom: 10px;
	}
	.category-list {
		display: block;
		line-height: 1em;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.one-third {
		width: 300px;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
		&.one p {
			font-size: .93em;
		}
	}
	&.news-col, &.events-col {
		li {
			padding: 0;
			clear: both;
		}
		.category a {
			font-size: .75em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: .05em;
			display: inline-block;
			font-weight: 700;
		}
		img {
			margin: 3px 20px 20px 0;
			float: left;
		}
		
		&.one {
			.item {
				width: auto;
			}
			img {
				margin: 0;
				float: none;
				width: 100%;
			}
		}
		&.one-third {
			img {
				margin: 0;
				float: none;
				width: 100%;
			}
		}
		&.two {
			.images .item {
				float: left;
				width: 330px;
			}
			.images + .btn {
				margin-left: 130px;
			}
		}
		&.three {
			.images .item {
				float: left;
				width: 570px;
			}
			.images + .btn {
				margin-left: 130px;
			}
		}
		.images {
			img {
				float: left;
				width: 27%;
				margin: 0 3% 10px 0;
			}
			a + .item, img + .item {
				float: left;
				width: 70%;
			}
		}
	}
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.5em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		.category {			
			a {
				font-size: .75em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: .05em;
				display: inline-block;
				font-weight: 700;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		.item {
			margin-bottom: 20px;
		}
	}
	.widget_em_widget {
		li {
			float: left;
			margin-bottom: 20px;
		}
		.all-events-link {
			//width: 300px;
			padding-left: 65px;
		}
		.event-details  {
			width: 220px;
			margin-bottom: 0;
		}
		.category-name, .category-name a {
			font-size: .7em;
			font-weight: bold;
			letter-spacing: 1px;
			line-height: 1.3em;
			color: $secondary-text-color;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.category-name a {
			font-size: 1em;
		}
	}
	.btn, .all-events-link a {
		margin: 0 auto;
		display: inline-block;
		width: 220px;
	}
	.youtube {
		a::before {
			font-family: "Font Awesome 5 Brands"; content: "\f167";
			font-weight: normal;
			margin-right: 5px;
		}
		h4 {
			display: inline-block;
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link, .download {
	.fas {
		font-size: .8em;
		margin-right: 5px;
	}
}

/*	7. People Archive
/*--------------------------------------*/

.page-template-page-people-listing .main header {
	width: 640px;
	clear: both;
	padding: 0;
}

/* People List */
.people-list {
	margin: 40px auto 0 auto;
	padding-top: 0px;
	clear: both;
	width: 640px;
	
	ul {
		margin: 30px auto;
		padding: 0;
		width: 640px;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0 45px;
		width: 210px;
		height: 260px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
			}
			.name {
				color: $link-color;
			}
		}
		.photo {
			border: 1px solid $border-color;
			padding: 5px;
			width: 140px;
			height: 140px;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 60px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		dd {
			margin: 0;
			line-height: 1.4em;
		}
		.name {
			color: $text-color;
		}
		.interest {
			font-size: .9em;
			color: $text-color;
		}
		.position {
			color: $secondary-text-color;
		}
		.email, .office, .office-hours, .phone {
			font-size: .9em;
			color: $text-color;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/*	8. Event Archive
/*--------------------------------------*/

/* Event List */

.events-col, .widget_em_widget {
	li {
		list-style: none;
		margin: 0 0 10px 0;
	}
	.day {
		font-size: 3.4em;
		font-weight: bold;
		display: block;
		color: $text-color;
	}
	.day-month {
		float: left;
		width: 60px;
		text-align: center;
		padding-top: 20px;
	}
	.month, .category-name a {
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.3em;
		color: $secondary-text-color;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.month {
		font-size: .7em;
	}
	.event-details  {
		float: left;
		padding-left: 10px;
		margin-left: 5px;
		border-left: 5px solid $separator-color;
		width: 540px;
		margin-bottom: 50px;
	}
	dd {
		font-weight: bold;
		line-height: 1.5em;
	}
	ul.event-categories li {
		margin: 0;
		display: inline-block;
	}
	.event-details p  {
		margin-bottom: 10px;
	}
}
.events-col {
	.category-name {
		margin: 0;
		
		a {
			font-weight: 700;
			font-size: .6em;
			letter-spacing: 1px;
			text-decoration: none;
		}
	}
	dd {
		margin: 0;
	}
	h2 {
		font-size: 2em;
	}
}

/* Search */
.em-search-wrapper {
	input.em-search-text {
		width: 465px!important;
		background: white;
		padding: 11px 7px!important;
		margin: 0!important;
	}
	.em-search-form button {
		margin-left: 25px!important;
		margin-top: 5px!important;
		padding: 10px 0!important;
		min-width: 95px;
	}
	.em-search-field {
		float: left!important;
	}
	div.em-search-text {
		background-image: none!important;
		margin-left: 0px!important;
		padding-left: 15px!important;
		margin-top: 2px!important;
	}
	div.css-search {
		border: none;
		
		&.has-advanced div.em-search-main {
			border: none;
			background: $secondary-light;
			padding-top: 8px;
			padding-bottom: 12px;
		}
	}
	.em-search-scope {
		label {
			display: block!important; 
			width: 100%!important
		}
		.em-date-start {
			clear: left; 
			float: left; 
			margin-right: 15px!important;
		}
		.em-date-end {
			float: right; 
			margin-left: 15px;
		}
		input {
			height: 20px!important;
			width: 170px!important;
			padding: 5px!important;
		}
	}
	#ui-datepicker-div select {
		padding: 5px!important;
		width: 80px;
		display: inline-block;
		margin: 0 5px; 
	}
}

/* Single Event Pages */
.single-event {
	.event-image {
		float: right;
		margin: 0 0 20px 20px;
	}
	.single-event .category-name a {
		color: $link-color;
	}
	.event-description {
		clear: both;
	}
	.add-calendar .btn {
		padding: 5px;
		min-width: 170px;
		margin-right: 10px;
		font-size: 1em;
	}
	.gcal:before {
		font-family: "Font Awesome 5 Brands"; 
		content: " \f1a0";
		display: inline-block;
		margin-right: 10px;
	}
	.ical {
		min-width: 144px!important;
		
		&:before {
			font-family: "Font Awesome 5 Free"; 
			content: " \f133";
			display: inline-block;
			margin-right: 10px;
			font-weight: 500;
		}
	}	
}

/* Registration Form */
#em-booking form input, select, textarea {
	clear: both;
}
.em-booking-form-details {
	padding: 0;
	border-right: 1px solid $border-color;
	width: 315px!important;
	margin-right: 45px;
	
	select {
		width: 270px;
	}
	label {
		margin-bottom: 5px;
	}
	label span {
		padding: 0;
		margin: 0;
		color: $text-color;
	}
}
.em-ticket-select {
	width: 40px;
	padding: 0px;
}
.em-tickets {
	width: 270px;
}
.em-tickets th {
	text-align: left;
}

/* Sign Up Form */
.em-booking-login { 
	padding-left: 0px!important;
	margin-left: 0!important;
	border-left: none!important;
	
	input[type="text"], input[type="password"] {
		display: inline-block;
		width: 245px!important;
	}
	input[type="checkbox"] {
		width: 20px!important;
	}
	input[type="submit"] {
		margin: 20px 30px 20px 0!important;
	}
	label {
		width: 200px!important;
	}
}
.em-booking-form label {
	display: inline-block;
	width: 270px;
}

/* Single Location Pages */
.map {
	float: right; 
	margin: 0px 0px 15px 15px;
}
.single-location .info {
	float: left;
	width: 200px;
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 30px;
	}
	article + article {
		border-top: 2px solid $border-color;
	}
}
.publish-date {
	font-weight: bold;
	color: $secondary-text-color;
	display: block;
	margin-bottom: 20px;
}

/*	10. Other
/*--------------------------------------*/

.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.em-pagination { 
	clear: both; 
	width: 100%; 
	display: block; 
	text-align: center;
}
.em-pagination .page-numbers {
	padding: 0 10px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Gravity Flow */
/*.gv-container {
	overflow-x: scroll;
}*/
.gv-container select {
	width: auto;
	display: inline;
}
.gv-widget-search .gv-search-box {
	margin: 0;
}
.gv-widget-search .gv-search-box.gv-search-box-submit {
	justify-content: flex-end;
}

/* Courses */
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding: 0;
	}
	h3 {
		font-size: 1.75em;
		line-height: 1.2em;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}
table.gv-table-view {
	table-layout: fixed;
}
table {
	border-spacing: 0;
}
#dbem-bookings-table {
	td, th {
		padding: 5px 20px 5px 5px;
		text-align: left;
	} 
	th {
		background-color: $primary-light;
	}
	tr:nth-of-type(odd) {
		background: $bg-light-color;
	}
	tr:hover td {
	  background-color: $bg-dark-color;
	}
	td {
	  border-top-width: 1px;
	  border-top-style: solid;
	  border-top-color: $border-color;
	}
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1em;
	padding: 10px 0 10px 15px;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			position: absolute;
			top: 2px;
			left: -15px;
			@include transition(all 0.24s ease-in-out);
		}
		&[aria-expanded=true] .fas {
			transform: rotate(90deg);
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 100em;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px 10px 10px 30px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	@include transition(all 0.24s ease-in-out);
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			font-size: .8em;
			left: -20px;
			top: 4px;
		}
		&[aria-expanded=true] .fas {
			transform: rotate(135deg);
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& > * {
		margin: 1.5em 20px;
	}
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
}

/* Images/Galleries/Fancybox */
article img {
	//max-width: 100%;
	height: auto;
}
img.alignleft, figure.alignleft { 
	float: left;
	margin: 15px 15px 15px 0;
}
img.alignright, figure.alignright { 
	float: right;
	margin: 15px 0 15px 15px;
}
img.aligncenter, figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
		text-align: center;
		margin: 0 auto;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
.fancybox-container .fancybox-toolbar {
	top: 60px;
}

/*	Color Palette
/*--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: $white;
}